{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">

        <title>JRE Comments</title>
        <meta name="title" content="Unofficial JRE Comment Section">
        <meta name="application-name" content="JRE Comments" />
        <meta name="description" content="With the move to spotify, there is one good thing we lost. Introducing the unofficial JRE comment section. Currently {{ total_comment_count }} comments in total.">
        <meta name="keywords" content="JRE, Joe Rogan, Joe Rogan Experience, Podcast, Comment Section, Reddit, Subreddit">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Christian J. Starr">
        <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon/favicon.ico' %}" />

        <meta name="HandheldFriendly" content="true">
        <meta name="apple-mobile-web-app-title" content="JRE Comments">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#000" />
        <meta name="theme-color" content="#000">
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">


        <!-- CSS Styling -->
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- Javascript -->
        <script type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}";
            window.nickname = "{{ nickname }}";
            window.liked = "{{ liked |safe}}";
            window.disliked = "{{ disliked |safe}}";
        </script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jre-comments.js' %}"></script>
        <script src="{% static 'js/podcast.js' %}"></script>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZPFJLW0RX"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YZPFJLW0RX');
        </script>
    </head>
    <body>
        <div id="particles"></div>
        <div id="wrapper">
            <h1>[ THE UNOFFICIAL JRE COMMENT SECTION  ]</h1>
            <div id="container-wrap">
                <div id="top-bar">
                    <input type="text" id="search-bar" placeholder="Search Podcasts...">
                    <input type="submit" id="search-submit" value="SEARCH">
                    <select name="" id="sort">
                        <option value="newest">Newest First</option>
                        <option value="oldest">Oldest First</option>
                        <option value="popular">Most Popular</option>
                    </select>
                </div>
                <div id="nickname">
                    <div id="nickname-container">
                        <a>ENTER A DISPLAY NAME</a>
                        <p><!--  ERROR MESSAGE --></p>
                        <input type="text" maxlength="20" placeholder="Display Name">
                        <input type="submit" value="OK">
                    </div>
                </div>
            <div id="container" class="no-scroll-bar">
                <div id="loading-podcast">
                    <i class="fa fa-refresh rotate"></i>
                    <h3>Loading Podcasts</h3>
                </div>
            </div>
            </div>
            <footer>
                <h2>Made with <i class="fa fa-heart heart"></i> from Flint, MI</h2>
                <div id="donate">
                    <a class="wallet-address copy-to-clipboard" address-data="bc1q2dj63m036a4vwqsefxc2znl7ax8sw9kwms92vf">bc1q2dj63m036a4vwqsefxc2znl7ax8sw9kwms92vf<i class="copy-notify">COPIED TO CLIPBOARD</i></a>
                    <a class="wallet-address copy-to-clipboard" address-data="0x57b7c9EB495797201894B1DAA0cE9B49B03f4E66">0x57b7c9EB495797201894B1DAA0cE9B49B03f4E66<i class="copy-notify">COPIED TO CLIPBOARD</i></a>
                </div>
                <a class="links" href="{% url 'privacy'%}">Privacy Policy</a>
                <a class="links" href="{% url 'terms'%}">Terms & Conditions</a>
            </footer>
        </div>
        <script>
            particlesJS.load('particles', '{% static 'particlesjs-config.json' %}', function() {
                console.log('space particle simulation loaded.');
            });
        </script>
    </body>
</html>